@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  font-family: 'Fauna One', sans-serif;
  line-height: 1.5;
  color: #fff;
}

h1 {
  font-size: 6rem;
  font-family: 'Lobster Two', sans-serif;
  font-style: italic;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}
