.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.navbar__links {
  font-size: 3rem;
  text-decoration: none;
}

.navbar__links-link {
  padding: 0 10px;
}
